<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
  <style>
    h1{
      text-align: center;
      color: blue;
      font-weight: bold;
      margin-top: 5vh;
    }
    .new_btn{
      text-align: center;
    }
    body{
      background-color: rgb(238, 255, 250);
      font-family: Arial, Helvetica, sans-serif;
    }
</style>
</head>
<body>
  <div>
    <%- include('navbar.ejs') %>
  </div>
  <div class="container">
    <h1 class="mb-4">Edit Article</h1>

    <form action="/articles/<%= article.id %>?_method=PUT" method="POST">
      <%- include('_form_fields') %>
    </form>
  </div>
  <%- include('darkmode.ejs') %>
</body>
</html>